.me {
	background-color: #EEEEEE;
	padding: 4px 0px;
}
.navbar {
	list-style-type: none;
	padding: 0;
	background-color: #CECEE8;
	overflow: hidden;
	text-align: center;
	border: none;
	margin: 16px 0px;
	/*display: inline-flex;
	align: center;*/
}
.active {
	background-color: #A0A0E0;
}
.navbar li {
	display: inline-block;
	position: relative;
	margin: 0;
	padding: 0;
	text-align: center;
}
.navbar li a {
	display: block;
	line-height: 30px;
	color: #000;
	padding: 8px 16px;
	text-decoration: none;
	text-align: center;
}
.split {
	display: inline-flex;
	margin: 3px 1px;
}
.category {
	border: 1px solid #DDD;
	border-radius: 8px;
	padding: 12px 12px;
	text-align: left;
}
.category h3 {
	margin-top: 0;
	margin-bottom: 12px;
	text-align: center;
}
.category h3 a {
	text-decoration: none;
	color: #000;
	background-color: #EEF;
	border-radius: 8px;
	padding: 8px;
}
.category ul {
	list-style-type: none;
	padding: 0px 0px;
	margin: 0px;
}
.roundbox {
	background: #DDF;
	border: 2px solid #555;
	border-radius: 8px;
	padding: 2px 2px;
	margin: 2px 2px;
}
.roundbox-lite {
	background: #CCE;
	border: 1px solid #555;
	border-radius: 8px;
	padding: 0px 0px;
	margin: -2px 1px;
}
.category ul li div {
	display: flex;
	text-align: center;
	text-decoration: none;
	padding: 8px 8px;
	color: #000;
}
.category ul li div a {
	display: block;
	text-align: center;
	text-decoration: none;
	padding: 8px 8px;
	color: #000;
}
.category ul li a {
	display: block;
	text-align: center;
	text-decoration: none;
	padding: 8px 8px;
	color: #000;
}
.category ul li a:hover, .category h3 a:hover, .navbar li a:hover {
	background-color: #D88;
	color: #B00;
}
